:root{
    --primary-color: #07A53D;
    --secondary-color: gold;
    --primary-white: #fff;
    --primary-font-weight: 600;
    --secondary-font-weight: 600;
    --default-margin: 35px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    zoom: 0.85; 
    animation: bgcolChanger 2s linear 1s infinite;
}

/* header for the navigation */
header{
    height: 70px;
    background-color: var(--primary-color);
}

header nav{
    height: 70px;
    margin: auto var(--default-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.links a{
    padding: 10px 20px;
    text-decoration: none;
    color: var(--primary-white);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.links a.active{
    color: var(--secondary-color)!important;
    border-bottom: 3px solid var(--secondary-color);
}

.links a:hover{
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
}

.welcome{
    height: 400px;
    width: 100%;
    background-image: url('../img/welcome.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner__welcome{
    text-align: center;
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.434);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner__shadow__cover{
    text-align: center;
}

.inner__shadow__cover h1{
    font-size: 54px;
    font-weight: 700;
    color: var(--primary-white);
}

.inner__shadow__cover p{
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-white);
    margin: 15px auto;
}

.btn{
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-white);
    background-color: var(--secondary-color);
    padding: 10px 20px;
    outline: 0;
    border: 0;
    border-radius: 4px;
    text-decoration: none;
    margin: 15px auto;
}


.btn:hover{
    color: var(--primary-white) !important;
    background-color: rgba(255, 217, 0, 0.96);
}

.partners{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   animation: tofro 0.9s linear 2s infinite forwards;
   /* animation-name: tofro;
   animation-duration: 4s;
   animation-timiming-function: linear;
   animation-iteration-count: infinite;
   animation-delay: 2s;
   animation-direction: reverse; */
}

.inner__partners{
    height: 80px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: var(--primary-white);
    top: -40px;
}

/* About us section */
.section{
    border-top: 1px solid #ccc;
}

.inner__aboutus{
    margin: var(--default-margin);
    display: flex;
    justify-content: space-between;
}

.left, .right{
    width: 45%;
}

.left h3{
    color: #00000080;
    margin: var(--default-margin);
}
.left h2{
    font-size: 42px;
    font-weight: var(--primary-font-weight);
}

.right div.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
     margin-bottom: var(--default-margin);
}

.item .__num{
    color: #00000080;
    font-size: 42px;
    font-weight: 700;
    margin-right: 10px;
}

.__content h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
}

/* what we offer */
.inner_offers, .inner_job_listing, .contact{
    margin: var(--default-margin);
}

.offers_header{
    text-align: center;
    margin-top: var(--default-margin);
}
.offers_header h3{
   font-size: 24px;
   font-weight: 400;
   line-height: 31px;
   letter-spacing: 0em;
   text-align: center;
   color: #00000080;
}
.offers_header h1{
   font-size: 48px;
   font-weight: 600;
   line-height: 61px;
   color: #000000;
}

.offers_content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: var(--default-margin);
}

.offer_item{
    text-align: center;
    width: 28%;
}
.offer_item h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.5px;
}


/* job listing */
.job_listing_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto var(--default-margin);
}

.job_listing_header .left{
    width: 50%;
    
}

.job_listing_header .left p >a{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #00000060;
    text-decoration: none;
    padding-right: 10px;
}
.job_listing_header .left p{
    margin: 15px 0;
}
.job_listing_header .right{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

a.tabs.active{
    padding-bottom: 4px;
    border-bottom: 2px solid var(--primary-color);
}


/* job row */




.job_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}



.row_item{
    width: 24%;
    height: 400px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    margin:0 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inner_row_item{
    margin: auto 10px;
}




.item_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100px;
    margin-top: -10px;
}

.item_header span.date{
    position: relative;
    top: -10px;
}



.latest__jobs__body__inner__body h4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; 
    color: #000000;
    margin: 20px 10px;
    margin-top: 5px;
}

.latest__jobs__body__inner__body p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    padding: 20px;
    margin-top: -10px;
}

.latest__jobs__body__inner__body{
    margin:20px;
    margin-top: -20px;
}

.title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px; 
    color: #000000;
    margin: 0 10px;
    padding: 20px 0;
}

.job__type{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px; 
    color: #000000;
    margin-top: -5px;

}

.job__type span:nth-child(odd){
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(33, 174, 72, 0.46);
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    width:170px;
    height: 50px;
}

.job__type span:nth-child(even){
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 210, 94, 0.6);
    border-radius: 10px;
    padding: 5px;
    width:170px;
    height: 50px;
}

.full_time{
    background-color: #21af4875;
}


.design{
    background-color: #ffd25f99;
}

.inner__top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.inner__bottom a{
    width: 100px;
    height: 44px; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
}

.inner__bottom__view{
    background: #FFFFFF;
    border: 1px solid #FFD25E;
    color: #000000;
}
.inner__bottom__view:hover{
    background: #FFD25E;
    border: 1px solid #FFD25E;
    color: #000000;
}
.inner__bottom__apply{
    background: #07A53D; 
    color: #fff;
}
.inner__bottom__apply:hover{
    background: #FFFFFF;
    color: #07A53D;
    border: 1px solid #07A53D;
}

.footer{
    height: 500px; 
    background: #07A53D;
    border: 1px solid rgba(0, 0, 0, 0.2);
}



.footer h2{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;     
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer .footer__content{
    margin: 20px 100px;
}

.footer__inner__item{
    padding: 10px;
    border-bottom: 1px solid #fcfcfc;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px; 
    color: #FFFFFF;
}

.footer__inner__body{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px; 
    color: #FFFFFF;
    display: none;
    padding: 12px;
    background-color: #5741414e;
    text-align: justify;
}
.footer__question{
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all 2s ease-in-out;
}


.footer__question:hover{
 cursor: pointer;
}


.footer__question::after{
    content: '\2304';
}

.show{
    display: flex;
}



/* SERVICES */


section.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

section.services span h1{
    width: 164px;
    height: 51px;
    font-size: 40px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    color: #000000;
    position: relative;
    top: -20px;
}
section.services span p{
    width: 817px;
    height: 34px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    position: relative;
    top: 0 !important;
}


.content_1,.content_2,.content_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-justify: auto;
    margin: var(--default-margin);
    padding: auto var(--default-margin);
}

.you,.the,.me{
    width: 50%;
}



.inner_image img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}


span p{
    width: 500px;
    height: 134px; 
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    position: relative;
    top: -130px;
} 
span b{
    font-size: 32px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 164px;
    height: 55px;
    color: #000000;
    position: relative;
    top: -145px;
    
} 

.btn_services{
    border: 1px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    width: 140px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 70px;
}

.btn_services a{
    text-align: center;
    width: 133px;
    height: 31px;
    font-size: 15px;
    font-weight: 200;
    line-height: 31px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #fff;
}

.bottom{
    background-color: #07A53D;
    height: 300px;
    width: 100%;
}


/* SIGN UP */

.body-main{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container{
    height: 450px;
    width: 450px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    top: 100px;
}

form.signup{
    padding: 15px;
    width: 85%;
    zoom: 0.9;
}

.btn-row{
    text-align: center;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

input, select{
    padding: 10px;
    height: 40px;
    background-color: #ccc;
    border: 1px solid #ccc;
}

form span, .form_container p{
    font-size: 13px;
}


/* Creating the animation */


@keyframes tofro {
    from{
        top:10px
    }
    to{
        top: -20px;
    }
}

.rotating-image{
    animation: moveRound 4s linear 1s infinite forwards;
}

@keyframes moveRound {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}


@keyframes bgcolChanger{
    0%  {background-color: rgb(240, 158, 158);}
    25%  {background-color: rgb(171,231,92);}
    50%  {background-color: rgb(68, 125, 237);}
    100% {background-color: rgb(19, 186, 94);}
}







/* RESPONSIBLE DESIGNS FOR DIFFERENT SCREENS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .inner__shadow__cover h1{
        font-size: 18px;
    }

    .inner__shadow__cover p{
        font-size: 13px;
    }

    .links{
        display: none;
    }

    .inner__partners{
        width: 80%;
    }

    .partner{
        width: 30%;
    }

    .partner img{
        width: 100%;
    }

    .inner__aboutus{
        flex-direction: column;
    }

    .inner__aboutus .left{
        width: 100%;
    }
    .inner__aboutus .left h2{
        font-size: 34px;
    }
    
    .job_listing_header{
        flex-direction: column;
    }

    .btn{
        padding: 5px;
    }

    .job_row{
        flex-direction: column;
    }

    .row_item{
        width: 100%;
        margin-top: 10px;
    }

    /* services */

    .content_1{
        flex-direction: column;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}