:root{
    --primary-width: 700px;
    --primary-color: #07A53D;
    --secondary-color: gold;
    --primary-white: #fff;
    --primary-font-weight: 600;
    --secondary-font-weight: 600;
    --default-margin: 35px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    zoom: 0.85;
}

header{
    height: 100px;
    background-color: var(--primary-color);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: var(--default-margin);
    padding: auto var(--default-margin);
}

a.active{
    color: var(--secondary-color)!important;
}


section.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

section.services span h1{
    width: 164px;
    height: 51px;
    font-size: 40px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    color: #000000;
    position: relative;
    top: -20px;
}
section.services span p{
    width: 817px;
    height: 34px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    position: relative;
    top: 0 !important;
}


.content_1,.content_2,.content_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--default-margin);
    padding: auto var(--default-margin);
}


.inner_image img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}


span p{
    width: 500px;
    height: 134px; 
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    position: relative;
    top: -130px;
} 
span b{
    font-size: 32px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 164px;
    height: 55px;
    color: #000000;
    position: relative;
    top: -145px;
    
} 

.btn{
    border: 1px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    width: 140px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 70px;
}

.btn a{
    width: 133px;
    height: 31px;
    font-size: 24px;
    font-weight: 200;
    line-height: 31px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #fff;
}

.bottom{
    background-color: #07A53D;
    height: 300px;
    width: 100%;
}








