:root{
    --primary-color: #07A53D;
    --secondary-color: gold;
    --primary-white: #fff;
    --secondary-font-weight: 600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header for the navigation */
header{
    height: 97px;
    background-color: var(--primary-color);
}

header nav{
    height: 97px;
    margin: auto 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.links a{
    padding: 10px 20px;
    text-decoration: none;
    color: var(--primary-white);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

a.active{
    color: var(--secondary-color)!important;
    border-bottom: 3px solid var(--secondary-color);
}

a:hover{
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
}
